<app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="mobileQuery.matches ? false : true"
  >
    <mat-toolbar>
      <mat-icon class="mr-10">home</mat-icon><span>Dashboard</span>
    </mat-toolbar>
    <mat-nav-list (click)="mobileQuery.matches ? sidenav.close() : ''">
      <a
        mat-list-item
        [routerLink]="['/projects']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="mr-10">assignment_turned_in</mat-icon>Projects
      </a>
      <a
        mat-list-item
        [routerLink]="['/resources']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="mr-10">group</mat-icon>Resources
      </a>
      <a
        mat-list-item
        [routerLink]="['/issues']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="mr-10">warning</mat-icon>Issues
      </a>
      <a
        mat-list-item
        [routerLink]="['/expenses']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="mr-10">attach_money</mat-icon>Expenses
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main Body -->
  <main class="container"><router-outlet></router-outlet></main>
</mat-sidenav-container>
