@import "~@angular/material/theming";
.card-container {
    width: 100%;
    max-width: 1200px;
    position: relative;
    .card-item {
        width: 300px;
        margin: 10px;
        cursor: pointer;
        &:hover {
            @include mat-elevation(10);
        }
        .card-title {
            font-size: 1.2em;
        }
    }
}
