<mat-toolbar>
  <span>Projects</span>
  <span class="toolbar-spacer"></span>
  <button (click)="createNewDialog()" mat-raised-button color="primary">
    <mat-icon>add</mat-icon> Create New
  </button>

</mat-toolbar>
<hr>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" layout-wrap>
  <mat-spinner class="margin-auto" *ngIf="!loaded"></mat-spinner>
  <div fxFlex="30%" *ngFor="let project of projects$ | async">
    <mat-card [routerLink]="['/projects', project.id]" class="project-card" *ngIf="project">
      <mat-card-title>{{project.title}}</mat-card-title>
      <mat-card-subtitle>Created: {{project.dateCreated}}</mat-card-subtitle>
      <mat-card-subtitle>Created by: {{project.personCreated}}</mat-card-subtitle>
    </mat-card>
  </div>
</div>
